#page-auth{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "aside main";

  aside{
    grid-area: aside;
    background: #835afd;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 120px 80px;
    img{
      max-width: 320px;
    }
    strong{
      font: 700 3.6rem 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }
    p{
      font-size: 2.4rem;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main{
    grid-area: main;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img{
      align-self: center;
      margin-bottom: 1.5rem;
    }

    .login-info{
      margin: 3.0rem 0;

      > button{
        background: transparent;
        border: 0;
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
      }
    }

    h2{
      font-size: 2.4rem;
      margin: 60px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form{
      input{
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }
      button{
        margin-top: 16px;
      }
      button, input{
        width: 100%;
      }
    }

    p{
      font-size: 1.4rem;
      color: #737380;
      margin-top: 16px;

      a{
        color: #e559f9;
      }
    }
  }

  .create-room{
    //margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
      margin-right: 8px;
    }

    &:hover{
      filter: brightness(0.9);
    }
  }

  .separator{
    font-size: 1.4rem;
    color: #a8a8b3;
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }
    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}


/* Responsividade */
@media (max-width: 768px){
  html{
    font-size: 56%!important;
  }
  #page-auth{
    aside{
      display: flex;
      //flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 120px 32px;
    }
  }
}

@media (max-width: 425px){
  #page-auth{
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 60vh;
    grid-template-areas: "aside" "main";
    aside{
      text-align: center;
      img {
          max-width: 100px;
      }
    }
  }
}
